@font-face {
	font-family: "Linux Libertine O";
	src: url("/notes/LinLibertine_R.otf") format("opentype");
}

@font-face {
	font-family: "Linux Libertine O";
	font-weight: bold;
	src: url("/notes/LinLibertine_RZ.otf") format("opentype");
}

@font-face {
	font-family: "Linux Libertine O";
	font-weight: bold;
	font-style: italic;
	src: url("/notes/LinLibertine_RZI.otf") format("opentype");
}

@font-face {
	font-family: "Linux Libertine O";
	font-style: italic;
	src: url("/notes/LinLibertine_RI.otf") format("opentype");
}

@font-face {
	font-family: "Linux Biolinum O";
	src: url("/notes/LinBiolinum_R.otf") format("opentype");
}

@font-face {
	font-family: "Segoe";
	src: url("/notes/segoeui.ttf") format("truetype");
}

@font-face {
	font-family: "Segoe";
	font-weight: bold;
	src: url("/notes/seguisb.ttf") format("truetype");
}

@font-face {
	font-family: "Segoe";
	font-weight: bold;
	font-style: italic;
	src: url("/notes/seguisbi.ttf") format("truetype");
}

@font-face {
	font-family: "Segoe";
	font-style: italic;
	src: url("/notes/segoeuii.ttf") format("truetype");
}

@font-face {
	font-family: "Ubuntu Mono";
	src: url("/notes/UbuntuMono-R.ttf") format("truetype");
}

@font-face {
	font-family: "Ubuntu Mono";
	font-style: italic;
	src: url("/notes/UbuntuMono-RI.ttf") format("truetype");
}

@font-face {
	font-family: "Ubuntu Mono";
	font-style: italic;
	font-weight: bold;
	src: url("/notes/UbuntuMono-BI.ttf") format("truetype");
}

@font-face {
	font-family: "Ubuntu Mono";
	font-style: italic;
	src: url("/notes/UbuntuMono-RI.ttf") format("truetype");
}

body {
	background-color: whitesmoke;
}

article {
	background-color: white;
	display: block;
	max-width: 7.5in;
	border: 1px solid black;
	border-radius: 1em;
	padding: 0.5in;
	margin-left: auto;
	margin-right: auto;
	font-family: "Segoe", sans-serif;
	line-height: 1.5;
	hyphens: auto;
	text-align: justify;
	text-justify: auto;
	font-feature-settings: "calt", "liga", "clig", "kern", "onum", "pnum";
	font-size: 12pt;
}

time, table, .lnum, code, pre {
	font-feature-settings: "lnum", "tnum";
}

p {
	margin-top: 0;
}

h1, h2, h3 {
	margin-bottom: 0.2em;
	font-family: "Linux Libertine O", serif;
	text-align: center;
	font-feature-settings: "titl";
}

h1 {
	margin-top: 0.5em;
	font-size: 26pt;
}

h2 {
	font-size: 20pt;
}

h3 {
	margin-top: 0.2em;
	font-size: 16pt;
}

header>time {
	display: block;
	text-align: center;
	margin-bottom: 1em;
	font-family: "Segoe", sans-serif;
	font-size: 16pt;
}

a:not(:active):not(:hover) {
	text-decoration: none;
}

ul {
	padding-left: 2em;
}

article>ul {
	padding-left: 1em;
	margin-bottom: 1em;
}

article>ul>li {
	margin-bottom: 0.5em;
}

ul.inline, ul.inline li {
	display: inline;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.inline li:after {
	content: ', ';
}

ul.inline>li:last-child:after {
	content: '';
	display: none;
}

article>p:last-child {
	margin-bottom: 0;
}

table {
	text-align: right;
	border-collapse: collapse;
	margin: 0.5em;
}

th {
	font-weight: normal;
	background-color: #eee;
}

th[rowspan] {
	font-weight: bold;
	text-align: center;
}

th, td {
	padding: 0.2em;
}

td {
	border: 1pt solid black;
}

.highlight {
	background-color: #ff0;
}

pre, code {
	font-family: "Ubuntu Mono", monospace;
}

pre {
	font-size: 10pt;
	background-color: whitesmoke;
	padding: 1em;
	border: 1pt solid #ccc;
	border-radius: 1em;
	line-height: 1.2;
	white-space: pre-wrap;
}

@media print {
	body {
		background-color: white;
		margin: 0;
	}

	header {
		margin: 1em;
	}

	article {
		margin-top: 0;
		border: none;
		font-family: "Linux Libertine O", serif;
		padding: 0;
		font-size: 12pt;
		margin-bottom: 0.5in;
	}

	h1, h2, h3 {
		font-family: "Linux Biolinum O", serif;
	}

	a {
		color: #006;
	}

	a.noprint {
		color: black;
	}

	a[href]:not(.noprint):after {
		content: attr(href);
		font-style: italic;
		font-size: small;
		color: black;
		border: 1pt solid #006;
		padding-left: 0.2em;
		padding-right: 0.2em;
		margin-left: 0.2em;
		margin-right: 0.2em;
		display: inline-block;
		border-radius: 0.4em;
		font-feature-settings: "tnum";
		font-weight: normal;
	}

	a[data-href]:after {
		content: attr(data-href) !important;
	}
}
